
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.flexRowBetween{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
     -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
    }
.avoidOverflow{
    overflow-y:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.flex{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
     -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.color{
    color:#089fe3;
}
.color1{
    color:#fff;
}
.color3{
    color:#333;
}
.color6{
    color:#666;
}
.color9{
    color:#999;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.contain{
    width:1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.orgin{
        width:100%;
        opacity: 0;
        height: 0;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .5s ease-out;
    }
    .after{
        opacity: 1;
        min-height: 7rem;
        height: auto;
        -webkit-animation: slide-down .5s ease-in;
        transition: max-height .5s ease-in;
        transform-origin: 50% 0;
    }
    .orgin1{
        width:100%;
        height: 0;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1s ease-out;
    }
    .after1{
        max-height: 1000px;
        height: auto;
        transition: max-height 2s ease-in;
        transform-origin: 50% 0;
    }
    @-webkit-keyframes slide-down{
        0%{transform: scale(1,0);}
        25%{transform: scale(1,1.2);}
        50%{transform: scale(1,0.85);}
        75%{transform: scale(1,1.05);}
        100%{transform: scale(1,1);}
    }
.main1200{
    width:62.5%;
    margin:0 auto;
}
/********************************导航*********************************/

.navigation{
    width:100%;
    min-height:1rem;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 2px 10px #afdff5;
}
.navigation_box{
    height:0.66rem;
    position: relative;
    top:0.22rem;
}
.navigation_left{
    width:17.5%;
    height:100%;
    float: left;
}
.navigation_right{
    width: 82.5%;
    height:100%;
    float: left;
    background:#fff;
    z-index: 9999;
}
.navigate{
    width:80%;
    min-height: 0.6rem;
    float: right;
}
.navigate li{
    width:20%;
    height:0.6rem;
    line-height: 0.6rem;
    text-align: right;
    float: left;
}
.navigation_left img{
    width:80%;
}
.navigate li>a{
    color: #4a4a4a;
    font-size: 0.16rem;
}
.navigate li .active{
    color:#089fe3;
    border-bottom: solid 2px #089fe3;
}
.nav_toggle{
    width:55%;
    padding-right: 5%;
    float:right;
    text-align: right;
    height: 100%;
}
.nav_toggle image{
    float: right;
    vertical-align: middle;
}
.hidden-this{
    display: none;
}
/***************************banner***************************/
.banner2{
    position:relative;
    top:1rem;
}

.banner_top{
    width: 100%;
    position: absolute; 
    top:0;
}
.banner_top{
    margin-top:2rem;
}
.wxTxt{
    margin: 0.45rem 0;
}
.wxTxt p{
    font-size:0.2rem;
    color: #fff;
}
.banner_wx a{
    width: 2.15rem;
    height:0.5rem;
    border:solid 1px #fff;
    border-radius: 0.1rem;
    line-height: 0.5rem;
    text-align: center;
    color:#fff;
    font-size:0.24rem;
}
.banner_img{
    min-height: 6rem;
}
/*********************企业为什么要做小程序************************/
.xwSmall{
    margin:2rem 0 1rem;
    text-align: center;
}
.small_why{
    font-size: 0.3rem;
    color:#333;
    text-align: center;
}
.small_pro{
    font-size: 0.14rem;
    color:#666;
    text-align: center;
    line-height: 0.56rem;
}
.xwSmallUser{
    width:9.68rem;
    height:3.88rem;
    background: url(../images/small1.jpg) no-repeat center;
    margin:0.5rem auto;
    position: relative;
}
.wxSmallMore{
    width: 100%;
    max-height:6.2rem;
    background: url(../images/wxSmall_bg.png) no-repeat center;
    text-align: center;
    padding: 0.65rem 0;
    overflow: hidden;
}
.wx_tlt{
    font-size: 0.3rem;
    color: #333;
}
.wx_p1{
    font-size: 0.18rem;
    color:#666;
    line-height:0.4rem;
}
.process_item{
    margin-top: 0.58rem;
    width: 14.2%;
    text-align: center;
    float: left;
}
.wx_process  img{
    margin:0 auto;
}
.process_item p{
    font-size: 0.16rem;
    color: #333;
    margin-top: 0.18rem;
}
.wxSmallMarket{
    padding: 0.9rem 0;
    text-align: center;
}
.wxSmallMarket .main1200{
    text-align: center;
}
.circle_big{
    position: absolute;
    width:22px;
    height:22px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    transition: all 2s;
}
.circle_big1{
    background: #9cf6f4;
    top:2.75rem;
    left:0.8rem;  
    animation: circle 2s infinite;
}
.circle_big2{
    background: #f5adf3;
    top:1.35rem;
    left:1.97rem;
    animation: circle 2s infinite;
     animation-delay: 4s;
}
.wx{
    position: absolute; 
    font-size: 0.14rem;
    color:#666;
}
.wx1{
    top:2.5rem;
    left: 0.05rem; 
}
.wx2{
    top:0.8rem;
    left: 1.2rem;
}
.wx3{
    right: 2.45rem;
    top:0.7rem;
}
.wx4{
    top:1.8rem;
    right: 0.2rem;
}
.circle_big3{
    position: absolute;
    right: 2.45rem;
    top:1rem;
    background: #81a1f2;
    animation: circle 2s infinite;
     animation-delay: 6s;
}
.circle_big4{
    position: absolute;
    right: 0.65rem;
    bottom: 1.5rem;
    background: #9bf9ae;
    animation: circle 2s infinite;
    animation-delay: 8s;
}

@keyframes circle{
    0%{
        transform: scale(0.7.,0.7);
        opacity: 1;
    }
     20%{
        transform: scale(1,1);
        opacity: 0.9;
    }
     40%{
        transform: scale(0.8.,0.8);
        opacity: 0.8;
    }
     60%{
        transform: scale(1.1,1.1);
        opacity: 0.7;
    }
     80%{
        transform: scale(0.9,0.9);
        opacity: 0.6;
    }
     100%{
        transform: scale(1.2,1.2);
        opacity: 0.5;
    }
}
/*************************行业分类*************************/
.made_now{
    width:1.96rem;
    height:0.5rem;
    background: linear-gradient(to bottom,rgba(90,205,224,1.00),rgba(31,103,186,1.00));
    border-radius: 10px;
    margin:0 auto;
    line-height: 0.5rem;
    color: #fff;
    font-size: 0.16rem;
}
.made_now img{
    margin-right: 0.2rem;
}
.need_sort{
    width:100%;
    min-height: 6.2rem;
    position: relative;
    background: url(../images/wxBg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.need_sort .contain{
    padding:0;
}
.sort_img{
    width:100%;
    min-height: 6.2rem;
}
.need_cont{
    width:100%;
    min-height: 6.2rem;
    position: absolute;
    left:0;
    top:0;
}
.need_cont{
    color:#fff;
    text-align: center;
}
.need_cont .wx_tlt{
    color:#fff;
    margin-top: 0.6rem;
}
.need_cont .wx_p1{
    color:#fff;
}
.sort_all{
    flex-wrap: wrap;
    margin:0 auto;
}
.sort_items{
    width:23%;
    padding: 0 1%;
    height:1.6rem;
    position: relative;
    margin-top: 0.4rem;
    transform: scale(0.6,0.6);
    -webkit-transform: scale(0.6,0.6);
    transition: all 1s;
    float:left;
}
.sort_items1{
     transform: scale(1,1);
    -webkit-transform: scale(1,1);
}
.sort_items>img{
    width: 100%;
    height:100%;
}
.sort_icon{
    width:2.8rem;
    height: 1.6rem;
    position: absolute;
    left: 0;
    top:0;
}
.sort_icon img{
    width:0.64rem;
    height: 0.64rem;
    margin:0 auto;
}
.sort_icon h6{
    font-size: 0.18rem;
    color:#fff;
}
.sort_in{
    width:100%;
    text-align: center;
}
/******************私人定制***********************/
.customize{
    text-align: center;
    padding-top:0.9rem;
    padding-bottom:0.66rem;
}
.customize_cont{
    width:100%;
    height:2.86rem;
    margin-top: 0.7rem;
}
.customize_left{
    width:27.5%;
    float:left;
}
.customize_right{
    width:72.5%;
    height: 100%;
    float:right;
/*    flex-wrap: wrap;*/
}
.customize_left img{
    width: 2.08rem;
    height:2.86rem;
}
.customize_item{
    width:50%;
    height:50%;
    float: left;
}
.customize_img{
    width:0.84rem;
    height:0.84rem;
    text-align: left;
    border-radius:50%;
    transition: all 1s;
    -webkit-transition:all 1s;
    float:left;
}
.customize_detail{
    width:74%;
    padding-right: 3%;
    text-align: left;
    float:left;
}
.customize_img img{
    width:0.84rem;
    height: 0.84rem;
}
.customize_detail .p1{
    font-size: 0.2rem;
}
.customize_detail .p2{
    font-size: 0.14rem;
    color:#666;
}
/*************************微信开发流程****************************/
.wx_process{
    width:100%;
    min-height:4.5rem;
    position: relative;
    text-align: center;
    color:#fff;
    background: url(../images/wxBg2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.wx_process .wx_tlt{
        margin-top:0.4rem;
    }
.wx_process .wx_tlt{
    color:#fff;
}
.wx_process .wx_p1{
    color:#fff;
}
.wx_process .process_img{
    width:100%;
    min-height: 3.5rem;
}
.wx_process_cont{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
#wx_process_cont img{
    margin:0 auto;
}
.process{
    flex-wrap: wrap;
}
.process_item{
    width:7%;
    text-align: center;
    float:left;
}
.process_line{
    width:8%;
    text-align: center;
}
.process_ling{
    float:left;
}
.process_ling img{
    width:0.88rem;
    height: 0.18rem;
    margin-top: 0.8rem;
}
.process_item p{
    font-size: 0.16rem;
    color:#fff;
}
/****************市场**********************/
.wxSmallMarket{
    padding: 0.9rem 0;
}
.wxSmallMarket .main1200{
    text-align: center;
}
.marketImg img{
    margin:0 auto;
    max-width:100%;
    max-height:80%;
}
.marketImg1 img{
    margin:1rem auto;
}
.wxSmallMarket .wx_tlt,.wxSmallMarket .wx_p1{
    width:80%;
    margin:0 auto;
}
.wxSmallMarket .wx_tlt{
    margin: 0.3rem auto;
} 
/*************************底部*******************************/
.footer{
    min-height: 3.86rem;
    background: url(../images/footer_bg.jpg) no-repeat; 
    background-size: cover;
    overflow: hidden;
    clear:both;}
.footer_cont{
    padding-top: 1rem;
    color:#fff;
    font-size: 16px;
    color:#fff;
    flex-wrap: wrap;
}
.footer_left{
    width:80%;
    flex-wrap: wrap;
    float:left
}
.footer_right{
    width:20%;
    float:right;
}
.footer_left ul{
    float:left;
}
.footer_cont li{
    line-height: 28px;
    text-align: center;}
.footer_cont ul{
    border-right: solid 1px #485162;
    width: 25%;
    box-sizing: border-box;
}
.footer_cont p{margin-bottom:20px;}
.qrcode{text-align: center;}
.qrcode img{margin:0px auto;}
.hotPhone{
    font-size: 14px;
    color:#ccc;
    clear:both;
    text-align: center;
    margin-top: 30px;}
/***************************行业案例******************************/

/*************分类****************/
.case_sort{
    margin-top: 0.6rem;
    color:#4c4c4c;
}
#case_sort_box{
    flex-wrap: wrap;
}
#case_sort_box .active{
    border-bottom: solid 2px #089fe3;
    color:#089fe3;
}
.case_sort_item{
    width:20%;
    height:0.5rem;
    line-height: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.case_sort_item p{
    width:40%;
    margin:0 auto;
    font-size: 0.16rem;
}
.case{
    width:100%;
    overflow:hidden;
    margin:0.6rem auto;
    padding-bottom: 10px;
    min-height: 7rem;
}
.case_item{
    width:33.33%;
    float: left;
    min-height:3rem;
}
.case_in{
    width:80%;
     min-height:3rem;
    margin:0 auto;
    position: relative;
}
.case_title p{
    text-align:center;
    height: 0.5rem;
    line-height: 0.5rem;
    color:#666;
    font-size:0.18rem;
}
/***图片放大 由远到近***/
.image-hover * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.image-hover {
    position: relative;
    min-height: 2rem;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border: 10px solid #fff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3)
}
.image-hover img{
    width: 100%;
    height:100%;
    margin:0 auto;
}
.image-hover a {
    text-decoration: none
}
.img-shadow-1
{
-webkit-box-shadow: 0 28px 16px -26px black;
-moz-box-shadow: 0 28px 16px -26px black;
box-shadow: 0 28px 16px -26px black;
}

.case_in:hover .img-shadow-1
{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);

-webkit-box-shadow: 0 58px 36px -56px black;
-moz-box-shadow: 0 58px 36px -56px black;
box-shadow: 0 58px 36px -56px black;
}

.img-shadow-1
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-shadow-1:hover
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}
.case_show{
    position: relative;
    width: 100%;
    /*overflow: hidden;*/
}
.case_show img{
    border-radius: 5px 5px 0 0;
    position: absolute;
    left: 0;
    top:0;
}
.case_title{
    box-shadow: 0px 0px 10px #666;
    margin-top: 20px;
    z-index:9;
    margin-bottom: 0.6rem;
}
.check_more{
    color:#4cb5e4;
    font-size:0.16rem;
    border:solid 1px #4cb5e4;
    border-radius: 5px;
    height:0.3rem;
    line-height: 0.3rem;
    text-align: center;
    width:30%;
    margin:0 auto;
    position: relative;
    bottom:-0.6rem;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    transition:all .6s ease-in-out;
    -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -ms-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
}
.case_in:hover .check_more{
    bottom: 1.2rem;
    opacity: 1;
    z-index: 999;
}
.mask{
    width:100%;
    min-height:2rem;
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left: 0;
    opacity: 0;
     -webkit-transition:all .6s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -ms-transition:all .6s ease-in-out;
    -o-transition:all .6s ease-in-out;
}
.case_in:hover .mask{
    opacity: 1;
    border-radius: 5px 5px 0 0;
}
.about_intro img{
    max-width: 100%;
}

.phone_img1{
    width:4.02rem;
    height:8.08rem;
}
.phone_img2{
    width:3.44rem;
    height:6.12rem;
}
/***********************************************/
#wx_process{
    text-align: center;
    padding: 1.05rem 0;
}
.contact{
    text-align: center;
     padding: 0.8rem 0;
}
.made_but{
    width:130px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border:solid 1px #089fe3;
    border-radius:5px;
    color:#089fe3;
    margin:0.6rem auto;
}
.contact_cont li{
    display: inline-block;
    text-align: center;
    font-size: 0.24rem;
    color:#333;
    margin:0 0.6rem;
}
/*********************************代理商************************************/
.agent_plan{
    padding:0.7rem 0 0.9rem 0;
    text-align:center;
}
.agent_box{
    width:20%;
    margin-top: 0.62rem;
    float:left;
}
.agent_cont{
    flex-wrap:wrap;
    overflow: hidden;
}
.agent_item{
    width:0.98rem;
    margin:0 auto;
}
.agent_img{
    width:0.98rem;
    height: 0.98rem;
    border-radius: 50%;
    margin:0 auto;
    /*display: inline-block;*/
    line-height: 0.98rem;
}
.agent_img  img{
    margin:0 auto;
    width:0.46rem;
    height: 0.46rem;
    vertical-align:center;
}
.agent_item p{
    margin-top: 0.45rem;
    font-size: 0.18rem;
    color:#666;
}
.border1{
        border:solid 1px #5d6ed4;
}
.border2{
        border:solid 1px #ff6666;
}
.border3{
        border:solid 1px #43af52;
}
.border4{
        border:solid 1px #faa21f;
}
.border5{
        border:solid 1px #1cc0d9;
}
.border8{
        border:solid 1px #5d6ed4;
}
.join{
    width: 120px;
    height:40px;
    background: #089fe3;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    color:#fff;
    font-size: 0.2rem;
    margin:0.6rem auto 0;
    cursor:pointer;
}
.agent_condition{
    width:100%;
    min-height:3.93rem;
    position: relative;
    background:url(../images/agent_bg.jpg) no-repeat;
    background-size: cover;
}
.agent_condition img{
    min-height: 3.93rem;
}
.agent_con{
     width:100%;
    min-height:3.93rem;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.agent_con .wx_tlt{
    color:#fff;
    margin: 0.6rem 0;
}
.agent_condition_box {
    flex-wrap: wrap;
    overflow: hidden;
}
.agent_condition_in{
    width:25%;
    float:left;
}
.agent_item1{
    width:75%;
    text-align: left;
}
.agent_item1 .p1{
    font-size: 0.2rem;
    color:#fff;
    margin-bottom: 0.2rem;
    color:#fff480;
}
.agent_item1 .p2{
    font-size: 0.16rem;
    color:#fff;
}
.agent_condition .join{
    background: #fff;
    color:#3091f2;
}
.agent_infor{
    width:100%;
    min-height: 7.5rem;
    background: #f2f2f2;
    text-align: center;
}
.agent_bg{
    width:100%;
    position: relative;
    min-height: 5.05rem;
}
.agent_infor .wx_tlt{
    height: 1.56rem;
    line-height: 1.56rem;
}
.cooper{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.cooper_cont{
    width:32%;
    margin:1.3rem auto;
}
.cooper_cont input{
    width: 98%;
    padding-left: 2%;
    height:0.4rem;
    border-radius: 5px;
    border:solid 1px #e0e0e0;
    margin-bottom: 0.4rem;
}
.select select{
    width:48%;
    height:0.4rem;
    border:solid 1px #e0e0e0;
    border-radius:5px;
}
/******************关于我们********************/
.introduce{
    text-align: center;
}
.introduce_tlt{
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}
.introduce_tlt h5{
    font-size: 0.3rem;
    color:#333;
}
.introduce_tlt span{
    width:0.6rem;
    height:0.04rem;
    display: inline-block;
    background: #089fe3;
    margin:0.1rem auto;
}
.introduce_cont{
    font-size: 0.16rem;
    color:#333;
}
#dituContent{
    min-height: 5rem;
}
/*******************合作伙伴************************/
.cooperation{
    text-align: center;
    padding-bottom: 0.4rem;
}
.cooperation_cont{
    overflow: hidden;
}
.cooperation_cont .cooperation_item{
    width:25%;
    text-align: center;   
    float:left;
}
/************************留言****************************/
.message{
    text-align: center;
    min-height: 7.4rem;
    background: #f2f2f2;
    padding: 1px 0;
}
.message_left,.message_right{
    width:50%;
    float:left;
}
.message_left input{
    width:3.75rem;
    height: 0.4rem;
    border-radius:5px;
    border:solid 1px #e0e0e0;
    padding-left:0.2rem;
    margin-bottom: 0.4rem;
    display: block;
}
.message_left textarea{
    width:90%;
    height:2.1rem;
    overflow: auto;
    border:solid 1px #e0e0e0;
    padding: 0.2rem;
    border-radius: 5px;
    margin-left: 0;
    float: left;
    margin-bottom: 0.3rem;
}
.message_left button{
    width:1.2rem;
    height:0.4rem;
    background: #089fe3;
    border-radius: 5px;
    text-align: center;
    line-height: 0.4rem;
    color:#fff;

}
.message_cont{
    flex-wrap: wrap;
}
.message_right{
    text-align: left;
}
.address_item{
    margin-top: 0.4rem;
}
.address_item img{
    margin-right: 0.2rem;
    width:0.28rem;
    height:0.3rem;
}
.message_right .address{
    width:5.64rem;
    height:4rem;
    background: url(../images/about_bg.jpg) no-repeat center;
    padding:0.5rem;
}
.message_right p{
    font-size: 0.16rem;
    color:#333;
    padding-left:0.2rem;
    border-left: solid 4px #089fe3;
}
/******************详情页**********************/
.detail_banner{
    margin-top:1rem;
}
.caseComputer{margin-top: 1.5rem;}
.case_intro{
    margin-left:0.5rem;}
.case_intro h5{
    color: #444;
    font-size: 0.26rem;}
.case_intro p {
    color: #888;
    font-size: 14px;
    margin-top: 52px;
    line-height: 28px;
}
.case_intro a{
    width:160px;
    height:45px;
    border-radius: 20px;
    background: #089fe3;
    line-height: 45px;
    text-align: center;
    color:#fff;
    margin-top:45px;}
.case_intro a img{margin-right:15px;}
.caseImg{
    position: absolute;
    top:0;
    left: 0;
}
.caseImg_center{width: 42%;margin:0px 1%;float: left;}
.caseShow_img {
    text-align: center;
}
.caseIphones{
    position: relative;
    width:3rem;
    height: 6.08rem;
}
.caseIphones .caseImg{
    position: absolute;
    top:0.74rem;
    left:0.24rem;}
.caseIphones img{
    width:100%;
    height: 100%;
    margin:0px auto;}
.caseImg img{
    width:2.54rem;
    height:4.60rem;
}
.phonecaseImg .caseImg_top{
    box-shadow: 0px 0px 5px #666;
    padding:10px;height: 100%;
    border:solid 1px #9d9d9d;}
.phonecaseImg img{box-shadow: 0px 0px 1px #666;}
.phonecaseImg{margin-bottom: 250px;}
.caseImg_left1{
    width: 50%;
    float:left;
}
.caseImg_right1{
    width:50%;
    float:right;
}
.deatil_list{
    width:24%;
}
.wx_detail {
    width:100%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
/*********************动画*************************/
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeInDown {
    from {
        transform: translate3d(0,-40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    from {
        transform: translate3d(0,-40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeInLeft {
    from {
        transform: translate3d(40px,0px,0);
        opacity:0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        transform: translate3d(40px,0px,0);
        opacity:0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@keyframes fadeInRight {
    from {
        transform: translate3d(-40px,0px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    from {
        transform: translate3d(-40px,0px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated2 {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}
.animated1 {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}
/*.animatedOpacity{
    opacity: 0
}*/
.fadeInUp {
    /*opacity: 0;*/
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.fadeInDown {
    /*opacity: 0;*/
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}
.fadeInLeft {
    opacity: 0;
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
}
.fadeInRight {
    /*opacity: 0;*/
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
}

@keyframes fadeInLeftTop {
    from {
        transform: translate3d(40px,-40px,0)
        opacity: 0
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeftTop {
    from {
        transform: translate3d(40px,-40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}
.fadeInLeftTop {
    /*opacity: 0;*/
    animation-name: fadeInLeftTop;
    -webkit-animation-name: fadeInLeftTop;
}
@keyframes fadeInRightTop {
    from {
        transform: translate3d(-40px,40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRightTop {
    from {
        transform: translate3d(-40px,40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.fadeInRightTop {
    /*opacity: 0;*/
    animation-name: fadeInRightTop;
    -webkit-animation-name: fadeInRightTop;
}
@keyframes fadeInLeftBottom {
    from {
        transform: translate3d(40px,-40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInLeftBottom {
    from {
        transform: translate3d(40px,-40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.fadeInLeftBottom {
   /* opacity: 0;*/
    animation-name: fadeInLeftBottom;
    -webkit-animation-name: fadeInLeftBottom;
}
@keyframes fadeInRightBottom {
    from {
        transform: translate3d(-40px,-40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRightBottom {
    from {
        transform: translate3d(-40px,-40px,0);
        opacity: 0;
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
.fadeInRightBottom {
    /*opacity: 0;*/
    animation-name: fadeInRightBottom;
    -webkit-animation-name: fadeInRightBottom;
}

.dalay-1s{
     animation-delay:0.2s; 
}
.dalay-2s{
     animation-delay:0.4s; 
}
.dalay-3s{
     animation-delay:0.6s; 
}
.clude{
    animation-name: clude;
    -webkit-animation-name: clude;
}
.clude1{
    animation-name: clude1;
    -webkit-animation-name: clude1;
}
@keyframes clude{
  0%{
    transform:translate(0px,0px);
    box-shadow:50px -10px 60px #b2e5ec;
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform:translate(-4rem,0px);
    box-shadow:0px 0px 5px #b2e5ec;
  }
}
@keyframes clude1{
  0%{
    transform:translate(0px,0px);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform:translate(0.4rem,0px);
  }
}
#phone_nav{
    z-index:999;
    position: absolute;
    top:1.3rem;
}
/***************资讯*****************/
.consult{
    width:1.46rem;
    height:4.4rem;
    position: fixed;
    bottom: 0rem;
    right:0.38rem;
    z-index:9999;
}
.consult_top{
    position: relative;
}
.consult_top span{
    position: absolute;
    top:60%;
    left:20%;
    font-size:0.14rem;
    color:#fff;
}
.consult_top a{
    width:100%;
    height:0.8rem;
    position: absolute;
    left:0;
    bottom:0;
}
.consult_top img{
    width:1.46rem;
    height:2.34rem;
}
.consult_bottom{
    width:1.46rem;
    height:1.86rem;
    position: relative;
}
.consult_method{
    width:0.6rem;
    height:100%;
    position: absolute;
    right:0.2rem;
}
.consult_method li{
    width:0.6rem;
    height:0.6rem;
    background:#089fe3;
    margin-bottom:0.03rem;
    text-align: center;
    position: relative;
}
.consult_method li a{
    width:100%;
    height:0.6rem;
}
.consult_method li span{
    font-size:0.14rem;
    color:#fff;
}
.consult_method img{
    width:0.44rem;
    height:0.34rem;
    margin:0 auto;
}
.consult_img{
    margin-top:0.02rem;
}
.back_top{
    line-height:0.6rem;
}
.phone_nav{
    position: absolute;
    top:1rem;
}
/*.contactPhone{
    height:0.4rem;
}
.contactPhone a{
    height:0.4rem;
    line-height: 0.4rem;
}*/
.qq_icon{
    width:2rem;
    height:1.85rem;
    position: absolute;
    right:0.6rem;
    top:0;
    background:#fff;
    overflow: hidden;
    display: none;
}
.wx_consult img{
    width:1rem;
    height:1rem;
}
.qq_text{
    margin-top:0.16rem;
}